* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#1D1E2C;
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:#14151d;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(199, 199, 241);
    font-size: 1.02rem;

}
main hr {
    border: 0;
   background-color:#fafafc ; 
   height: 1.2px;
   margin: 40px 84px;

}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 110px 0;
    align-items: center;

}


.firstsection>div {
    width: 30%;
}


.leftsection {
    width: 30px;
    font-size: 2.7rem;
}

.righttsection {
    width: 30px;
}

img {
    width: 90%;
}

.purple {
    color: rgb(173, 101, 240);
}

.text-grey {
    color: grey;
}
#element {
    color: rgb(173, 101, 240);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;

}